@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Створення програмного засобу для забезпечення конфіденційності інформації</h1>
    <div class="">
        <img src="images/photo_2022-04-02_14-06-21.jpg" alt="Fuck russia" class="image-container" />
    </div>
</div>