@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
    <h2>Безпека програм та даних</h2>
    <h3 class="mt-3">Lab 3</h3>
    <br/>
    <div class="mt-3">
        <h5><b>Тема:</b> Створення програмного засобу для забезпечення конфіденційності інформації.</h5>
        <h5>
            <b>Мета роботи:</b> Ознайомитись з методами криптографічного забезпечення конфіденційності інформації, 
            навчитись створювати комплексні програмні продукти для захисту інформації з використанням алгоритмів симетричного шифрування, хешування та генераторів псевдовипадкових чисел.
        </h5>
        <div class="text-font">
            <br/>
            <h4>Формулювання завдання:</h4>
            <br/>
            <div style="text-align: justify;">
                Згідно до варіанту, наведеного в таблиці, створити прикладну програму для шифрування інформації за алгоритмом RC5.<br />
                Програма повинна отримувати від користувача парольну фразу і, на її основі, шифрувати файли довільного розміру, а результат зберігати у вигляді файлу 
                з можливістю подальшого дешифрування (при введенні тієї самої парольної фрази).<br />
                Для перетворення парольної фрази у ключ шифрування використати алгоритм MD5, реалізований в лабораторній роботі № 2 – ключем шифрування повинен бути хеш парольної фрази. <br />
                Якщо згідно варіанту довжина ключа становить 64 біти, беруться молодші 64 біти хешу; якщо довжина ключа повинна бути 256 бітів, то хеш парольної фрази стає старшими 128 бітами, 
                а молодшими є хеш від старших 128 бітів (тобто, позначивши парольну фразу через P, отримаємо K=H(H(P))||H(P)).<br />
                Для забезпечення можливості роботи створеного програмного продукту з відкритим текстом довільної довжини, програмну реалізацію здійснити в режимі RC5-CBC-Pad. <br />
                В якості вектора ініціалізації (IV) використати генератор псевдовипадкових чисел, реалізований в лабораторній роботі № 1. <br />
                Для кожного нового шифрованого повідомлення слід генерувати новий вектор ініціалізації. Вектор ініціалізації зашифровується в режимі ECB і зберігається в першому блоці зашифрованого файлу.<br />
                У звіті навести протокол роботи програми та зробити висновки про поєднання різних криптографічних примітивів для задач захисту інформації.
            </div>
        </div>
    </div>
</div>