@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FunctionModel
@{
    ViewData["Title"] = "Fourier";
}

<div>
    <div class="mt-5 active-elements">
        <div class="border-fourier">
            <form action="Action" method="GET">
                <table class="input-table">
                    <tr>
                        <td>
                            <label for="toHash" class="text-font">String to hash:</label>
                        </td>
                        <td>
                            <input name="toHash" type="text" id="toHash" value="@Model.StartValue" class="custom-input">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="resultHash" class="text-font">Hashed string:</label>
                        </td>
                        <td>
                            <input name="resultHash" type="text" id="resultHash" value="@Model.HashedModel" class="custom-input" disabled>
                        </td>
                    </tr>
                </table>
                <div class="text-center mt-2">
                    <button type="submit" class="sea" style="--content: 'HASH';">
                        <div class="left"></div>
                        HASH
                        <div class="right"></div>
                    </button>
                </div>
            </form>
        </div>
        <div class="border-fourier">
            <table class="input-table">
                <tr>
                    <td>
                        <label for="filePath" class="text-font">Path to file:</label>
                    </td>
                    <td>
                        <input name="filePath" type="text" id="filePath" value="C:\\Users\\dutch\\source\\repos\\7term\\PDS\\PDS2\\Result.txt" class="custom-input">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="hashFile" class="text-font">Hash in file:</label>
                    </td>
                    <td>
                        <input name="hashFile" type="text" id="hashFile" value="" class="custom-input" disabled>
                    </td>
                </tr>
            </table>
            <div class="text-center mt-2">
                <button type="button" class="sea" style="--content: 'READ';" onclick="ReadFile()">
                    <div class="left"></div>
                    READ
                    <div class="right"></div>
                </button>
            </div>
        </div>
        <div class="text-font border-fourier text-center">
            <button type="button" class="cybr-btn mx-2" onclick="OpenFile()">
                FILE
                <span aria-hidden>_</span>
                <span aria-hidden class="cybr-btn__glitch">CUM_</span>
                <span aria-hidden class="cybr-btn__tag">R25</span>
            </button>
            <button type="button" class="cybr-btn mx-2" onclick="Compare()">
                COMPARE
                <span aria-hidden>_</span>
                <span aria-hidden class="cybr-btn__glitch">CUM_</span>
                <span aria-hidden class="cybr-btn__tag">R25</span>
            </button>
        </div>
    </div>
</div>