@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
    <h2>Безпека програм та даних</h2>
    <h3 class="mt-3">Lab 2</h3>
    <br/>
    <div class="mt-3">
        <h5><b>Тема:</b> Створення програмого засобу для забезпечення цілісності інформації.</h5>
        <h5><b>Мета роботи:</b> Ознайомитись з методами криптографічного забезпечення цілісності інформації, навчитись створювати програмні засоби для забезпечення цілісності інформації 
            з використанням алгоритмів хешування.
        </h5>
        <div class="text-font">
            <br/>
            <h4>Формулювання завдання:</h4>
            <br/>
            <div style="text-align: justify;">
                Створити програмну реалізацію алгоритму хешування MD5.
                Програмна реалізація повинна виводити значення хешу як для рядка, заданого в полі вводу, так і для файлу. 
                Результат роботи програми повинен відображатись на екрані з можливістю наступного запису в файл. 
                Крім того програма повинна мати можливість перевірити цілісність будь-якого файлу за наявним файлом з MD5 хешем, записаним у шістнадцятковому форматі. 
                У звіті навести протокол тестування і роботи програми та зробити висновки.
            </div>
        </div>
    </div>
</div>